* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  height: 100vh;
  width: 100vw;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

li {
  display: inline;
  margin: 15px;
}

.dot-img {
  width: 25px;
  height: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 2.5rem;
  border: 1px solid gray;
  border-radius: 30px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

input[type="search"] {
  width: 500px;
  border: none;
  height: 1.8rem;
  outline: none;
}

.mag-icon {
  font-size: 1.3rem;
  margin-left: 15px;
}
.mag-icon:hover {
  cursor: pointer;
}

.logo img {
  width: 300px;
}

.logo {
  margin-bottom: 1.5rem;
}

.mic-icon {
  height: 1.3rem;
  margin-right: 15px;
}
.mic-icon:hover {
  cursor: pointer;
}

#dot-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

#dot-icon:hover {
  background-color: rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.dot-icon {
  font-size: 1.5rem;
  position: relative;
  top: 5px;
  left: 5px;
  color: grey;
}

.right-nav {
  position: relative;
}

.sign-btn {
  color: white;
  background-color: #4285f4;
  font-weight: bold;
  border-style: none;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.sign-btn:hover {
  background-color: #2163cc;
  cursor: pointer;
}

.buttons {
  line-height: 7rem;
}

.buttons input {
  padding: 0.7rem 1.1rem;
  margin: 0 0.3rem;
  border-style: none;
  background-color: rgb(228, 228, 228);
  border-radius: 4px;
  font-weight: lighter;
  font-size: 14px;
}

p a {
  color: blue;
}

.search-bar:hover {
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttons > input:hover {
  border: 1px solid lightgray;
  cursor: pointer;
}
