@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--main-bg);
  color: hsl(0, 0%, 100%);
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.image > img {
  border-radius: 0.5rem;
}

.image {
  position: relative;
}

.image > .ghost {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 0.5rem;
  opacity: 0;
  background-color: var(--cyan);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image > .ghost:hover {
  opacity: 0.6;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

ul > li:first-child {
  color: var(--cyan);
}

.saydam-text {
  font-weight: 300;
  color: var(--soft-blue);
}

#container {
  padding: 1.5rem;
  background-color: var(--card-bg);
  border-radius: 1rem;
}

.title h2 {
  font-weight: 600;
  color: var(--white);
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.coin > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid var(--line);
}

.coin > ul > li {
  display: flex;
  align-items: center;
}

.coin > ul:last-child {
  color: var(--soft-blue);
}

.coin > ul > li > img {
  margin-right: 0.3rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.profile > img {
  width: 3rem;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.profile > p {
  font-weight: 300;
  margin-left: 1rem;
  color: var(--soft-blue);
}

.attribution {
  font-size: 16px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
  #container {
    width: 400px;
    margin: 0 auto 1rem;
  }
}

@media (max-width: 400px) {
  #container {
    width: 350px;
    margin: 1rem;
    padding: 0.5rem;
  }

  body {
    padding: 0;
  }
}
.profile > p > a:link {
  font-weight: 300;
  opacity: 1;
  color: white;
  text-decoration: none;
}

.profile > p > a:link:hover {
  color: var(--cyan);
  cursor: pointer;
}

.title > h2:hover {
  color: var(--cyan);
  cursor: pointer;
}
